.image-stack-container {
  position: relative;
  display: inline-block;
  max-width: 36rem;
  min-height: 20rem;
  transition: opacity 0.5s ease-in-out;
  animation: fade 5s linear infinite;
  overflow: hidden;
}

.product-image {
  max-width: 100%;
  height: auto;
  display: block;
}

.prev-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  font-size: 2.2rem;
  color: rgba(255, 255, 255, 0.781);
}
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  font-size: 2.2rem;
  color: rgba(255, 255, 255, 0.781);
}
.prev-button {
  left: 10px;
}

.prev-button:hover {
  color: rgb(223, 85, 85);
}

.next-button {
  right: 10px;
}
.next-button:hover {
  color: rgb(223, 85, 85);
}

@media (max-width: 30rem) {
  .image-stack-container {
    position: relative;
    display: inline-block;
    max-width: 20rem;
    min-height: 14rem;
  }

  .prev-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    font-size: 2.2rem;
    color: rgba(255, 255, 255, 0.781);
  }
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.2rem;
  }
}
