.model-container {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    /* border: 1px solid rgb(201, 201, 201); */
    width: 100%;
    max-width: 36rem;
    height: 30rem;
    margin-bottom: 3rem;
  }
  
  .model-box {
    /* padding-left: 9rem; */
    /* background-color: red; */
  }
  