.store-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
    max-width: 70rem;
    padding-top: 0;
  }
  
  .hr {
    color: rgb(224, 151, 151);
    height: 0.2px;
  }
  
  
  .cardd {
    margin: 0 auto;
  }
  
  .products-title {
    text-align: center;
    padding: 4rem;
  }
  
  /* Media query for tablets */
  @media (max-width: 62em) {
    .store-container {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .cardd {
      padding: 1rem;
    }
  }
  
  /* Media query for smaller screens (e.g., mobile) */
  @media (max-width: 576px) {
    .store-container {
      grid-template-columns: 1fr; 
      padding: 1rem; 
    }
  
    .cardd {
      padding: 1rem; 
    }
  }
  